
body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  color: white;
}
.carousel {
  display: flex; 
  flex-direction: column; /* ensure that all divs are one below the other */
  justify-content: space-between;/* adds space between the divs vertically */
  align-items: center; 
  white-space: nowrap; 
  overflow: hidden; 
  position: relative;
}
@keyframes slide{
  from{
    transform: translateX(70%);
  }
  to{
    transform: translateX(-70%);
  }
}
.carousel-label {
  font-size: 16px;
  color: white; 
  /* margin-left: 45%; not needed now as the div only contains the text it has already been put to center by align items center*/
  margin-bottom: 3%;
  text-align: center;
  /* position: relative; */
  display: flex;
}
.carousel-slide {
  margin-bottom: 4%;/* puts space between bottom of screen and entire div of sliding images */
  display: flex;
  gap: 20px;
  animation: slide 25s linear infinite;
  animation-delay: 0.05s;
}
.carousel-slide img {
 
  width: 80px; 
  height: 80px;
  margin: 0 10px; 
  border-radius: 50%; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
  flex-shrink: 0; 
  /* position: absolute; */
  /* transition: transform 0.5s ease; */
}
.carousel:hover .carousel-slide{
  animation-play-state: paused;
}

