
body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  color: white;
}
.carousel {
  display: flex; 
  align-items: center; 
  white-space: nowrap; 
  overflow: hidden; 
  position: relative;
}
@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
.carousel-label {
  font-size: 16px;
  color: white; 
  margin-left: 45%;
  margin-bottom: 10%;
  text-align: center;
  position: relative;
}
.carousel-slide {
  
  display: flex;
  gap: 20px;
  animation: slide 30s linear infinite;
}
.carousel-slide img {
 
  width: 80px; 
  height: 80px;
  margin: 0 10px; 
  border-radius: 50%; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
  flex-shrink: 0; 
}
.carousel:hover .carousel-slide{
  animation-play-state: paused;
}

